body {
	background-color: red;
}
header {
	color: red;
}
h1 {
	color: blue;
}
p {
	color: white;
}
ul  {
	background-color: green;
}
li {
	color: blue;
}
li:nth-child(2) {
	color: red;
}
footer {
	color: pink;
}
aside {
	color: purple;
}

input[type = "search"]{
	color: red;
}

input[type = "submit"]{
	color: gray;
}